NEXT_PUBLIC_BOARD_API_URL=http://127.0.0.1:3411
NEXT_PUBLIC_ARTIFACT_RUNTIME_ORIGIN=http://127.0.0.2:3412
NEXT_PUBLIC_SCENEBOARD_DEMO_VIDEO_URL=https://media.sceneboard.dev/demo/sceneboard-demo-3min.mp4
NEXT_PUBLIC_SCENEBOARD_MEDIA_ORIGIN=https://media.sceneboard.dev
SCENEBOARD_EXPORT_API_ORIGIN=http://127.0.0.1:3411
SCENEBOARD_EXPORT_WEB_ORIGIN=http://127.0.0.1:3410
SCENEBOARD_EXPORT_ARTIFACT_RUNTIME_ORIGIN=http://127.0.0.2:3412
