NEXT_PUBLIC_BOARD_API_URL=http://127.0.0.1:3411
NEXT_PUBLIC_ARTIFACT_RUNTIME_ORIGIN=http://127.0.0.2:3412
NEXT_PUBLIC_FIREBASE_API_KEY=<firebase-web-api-key>
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=<firebase-project-id>.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=<firebase-project-id>
NEXT_PUBLIC_FIREBASE_APP_ID=<firebase-web-app-id>
NEXT_PUBLIC_SCENEBOARD_DEMO_VIDEO_URL=https://media.sceneboard.dev/demo/sceneboard-demo-3min.mp4
NEXT_PUBLIC_SCENEBOARD_MEDIA_ORIGIN=https://media.sceneboard.dev
SCENEBOARD_PRESENTATION_DEMO_URL_KO=https://sceneboard.leecat.co.kr/s/share_REPLACE_WITH_KOREAN_PUBLIC_LOCATOR_g1
SCENEBOARD_PRESENTATION_DEMO_URL_EN=https://sceneboard.leecat.co.kr/s/share_REPLACE_WITH_ENGLISH_PUBLIC_LOCATOR_g1
SCENEBOARD_EXPORT_API_ORIGIN=http://127.0.0.1:3411
SCENEBOARD_EXPORT_WEB_ORIGIN=http://127.0.0.1:3410
SCENEBOARD_EXPORT_ARTIFACT_RUNTIME_ORIGIN=http://127.0.0.2:3412
